# Dependencias principales del proyecto
Flask>=2.2
Werkzeug>=2.2
itsdangerous>=2.2.0

# ORM y conexión a base de datos MySQL
Flask-SQLAlchemy>=3.0
PyMySQL>=1.1.0

# Migraciones de base de datos
Flask-Migrate>=4.0

# Manejo de contraseñas seguras
bcrypt>=4.0

# Manejo de sesiones y login
Flask-Login>=0.6.3

# Envío de correos
Flask-Mail==0.10.0

# Generación de PDF
xhtml2pdf>=0.2.10

# Variables de entorno
python-dotenv>=1.0.0

# Servidor de producción
gunicorn>=21.2.0

psycopg2>=2.9